$mainColor: DodgerBlue;

// TODO: put apercu-regular in body and delete duplicates

body {
  // display: flex;
  // justify-content: center;
  font-family: 'apercu-regular', sans-serif;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  cursor: crosshair;
  // cursor: url('./assets/cursor.png') 13 13, auto;
  // cursor: image-set(
  //       url('./assets/cursor.png') 1x,
  //       url('./assets/cursorx2.png') 2x
  //     )
  //     13 13,
  //   auto;
  // box-sizing: border-box;
}

@font-face {
  font-family: 'apercu-medium';
  src: url('fonts/apercu-medium.woff') format('woff');
}

@font-face {
  font-family: 'apercu-regular';
  src: url('fonts/apercu-regular.woff') format('woff');
}

@mixin flex($x : center, $y: center) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  padding: 0;
}

// .title {
//   font-family: 'helvetica', 'arial', sans-serif;
//   font-size: 20px;
//   font-weight: normal;
//   color: white;
// }

// h2 {
//   display: inline-block;
// }

// svg {
//   margin: 7px 0 0 15px;
// }
header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'apercu-medium', sans-serif;
  width: 100%;
  background: #f7f7f7;
}

.header-top {
  // z-index: 1;
  @include flex(space-between, center);
  // font-family: 'apercu-medium', sans-serif;
  // position: fixed;
  // top: 0;
  // left: 0;
  height: 75px;
  // background: #fff;
  padding: 0 32px;
  // box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

  .profile {
    @include flex;

    .profile-image {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 500px;
      background: #d8d8d8;
      margin-right: 8px;
    }

    span {
      display: inline-block;
      font-family: 'apercu-regular', sans-serif;
      color: #666;
      font-size: 16px;

      svg {
        width: 9.6px;
        height: auto;
        vertical-align: middle;
        margin-left: 9px;
      }
    }
  }

  .add {
    position: relative;
    background: #2dcb81;
    font-family: inherit;
    font-size: 13px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 500px;
    // border-radius: 5px;
    // width: 152px;
    // width: 160px;
    width: 150px;
    // height: 50px;
    height: 45px;
    // padding-left: 26px;
    // padding: 15px 0 15px 18px;
    padding: 15px 0;
    cursor: pointer;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
    // transition: box-shadow 0.2s ease;

    // &:hover {
    //   box-shadow: none;
    // }

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;

      svg {
        vertical-align: middle;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.header-logo {
  @include flex;
  // display: none;
  width: 100%;
  height: 68px;
  // background: transparent;
  // background: #fff;

  h2 {
    display: inline-block;
  }

  span {
    margin: 7px 0 0 15px;
  }
}

// 152px
// display: grid
// grid-template-columns: repeat($columns, 1fr); // mixin for line-breaks

// 310px is width (including margins)

.library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  // grid-gap: 40px;
  width: 100%;
  height: 100%;
  // padding-top: 152px;
  padding-top: 190px;
  padding-left: 32px;
  padding-right: 32px;
  // background: peru;
}

.footer {
  z-index: 1;
  @include flex(space-between, center);
  font-family: 'apercu-medium', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: #fff;
  // border-top: 1px solid #848484;
  // transform: translateY(100%);
  // transition: transform 0.5s ease;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.1);

  .palette-name {
    flex-grow: 1;
    @include flex(flex-start, center);
    // font-family: 'apercu-regular', sans-serif;
    // color: #666666;
    // font-size: 18px;
    padding-left: 50px;
    min-width: 320px;
    // background: #eee;

    svg {
      width: 15px;
      height: 15px;
      fill: #848484;
      outline: none;
      cursor: pointer;
    }

    .palette-input {
      width: 240px;
      font-family: 'apercu-regular', sans-serif;
      font-size: 17px;
      color: #666;
      // color: #000;
      // appearance: none;
      padding-bottom: 3px;
      margin-left: 10px;
      border: 0;
      // border-bottom: 1px solid #eee;
      outline: none;
    }

    input:focus::placeholder {
      color: #eee;
    }
    input::placeholder {
      color: #666;
    }
  }

  .palette-buttons {
    flex-grow: 1;
    @include flex(flex-end, center);
    padding-right: 50px;
    min-width: 320px;
    font-family: 'apercu-medium', sans-serif;
    font-size: 14px;
    // background: #eee;

    .clear,
    .save {
      display: inline-block;
    }

    .clear {
      color: #848484;
      margin-right: 20px;
      font-family: inherit;
      font-size: inherit;
      padding: 0;
      border: none;
      outline: none;
      background: #fff;
      cursor: pointer;
    }

    .save {
      background: #2dcb81;
      font-family: inherit;
      font-size: inherit;
      color: #fff;
      // line-height: 11px;
      border: none;
      outline: none;
      border-radius: 500px;
      // border-radius: 5px;
      width: 152px;
      height: 50px;
      box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  .palette-colors {
    @include flex(space-between, center);
    width: 360px;
    min-width: 300px;
    // background: peru;

    .radio {
      box-sizing: content-box;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #e3e1e1;
      border-radius: 500px;
      border: 5px solid #fff;
      cursor: pointer;
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked + .radio {
      border: 5px solid #f0f0f0;
    }
    // new css goes here

    // div {
    //   display: inline-block;
    //   width: 40px;
    //   height: 40px;
    //   background: #eee;
    //   border-radius: 500px;
    // }
  }

  // .lock {
  //   display: none;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background: #fff;
  //   opacity: 0.5;

  //   &.active {
  //     display: block;
  //   }
  // }

  // &.active {
  //   transform: translateY(0);
  // }
}

.palette-card {
  font-family: 'apercu-regular', sans-serif;
  width: 246px;
  // height: 313px;
  height: 320px;
  border-radius: 12px;
  // background: #eee;
  margin: 32px;
  // overflow: hidden;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.08);
  // for safari: maintain overflow hidden (within radius) when animating children
  // transform: translate3d(0, 0, 0);

  .palette-colors {
    @include flex(space-between, center);
    flex-direction: column;
    width: 100%;
    height: 71%;
    // border-radius: 12px 12px 0 0;
    // overflow: hidden;
    transform: translate3d(0, 0, 0);
    // background: dodgerblue;

    .swatch {
      flex-grow: 1;
      @include flex;
      position: relative;
      width: 100%;
      height: 33.3333%;
      color: #fff;
      cursor: pointer;
      outline: none;
      // box-shadow: 2px -6px 14px 2px rgba(0, 0, 0, 0.1);
      &:first-child {
        border-radius: 12px 12px 0 0;

        .pop-up {
          border-radius: 12px 12px 0 0;
        }
      }

      .pop-up {
        position: absolute;
        // pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        transition: transform 0.3s ease;
      }

      input {
        border: 0;
        z-index: 1;
        font-family: inherit;
        color: #fff;
        appearance: none;
        outline: none;
        background: transparent;
        // font-weight: normal;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      // &:first-child:hover {
      //   // padding-bottom: 10%;
      //   // .pop-up {
      //   //   transform: translateY(20px);
      //   // }
      // }

      // &:not(:first-child):hover {
      //   .pop-up {
      //     transform: translateY(10px);
      //   }
      // }

      // &:not(:first-child) {
      //   h4 {
      //     padding-bottom: 5px;
      //   }
      // }

      &:hover {
        input {
          transform: translateY(-4px);
          opacity: 1;
        }
        .pop-up {
          transform: translateY(-8px);
        }
      }

      &:first-child:nth-last-child(1) {
        .pop-up {
          transform: translateY(0);
        }
      }

      // &:hover {
      //   h4 {
      //     opacity: 1;
      //   }
      // }
    }
  }

  .palette-footer {
    @include flex;
    position: relative;
    width: 100%;
    height: 29%;
    font-size: 16px;
    color: #666;
    background: #fff;
    border-radius: 0 0 12px 12px;

    .options {
      position: absolute;
      @include flex;
      bottom: 11px;
      right: 11px;
      width: 32px;
      height: 15px;
      border-radius: 500px;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: #efefef;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: darken(#efefef, 5%);
      }
    }

    .dialog {
      @include flex(space-between, center);
      flex-direction: column;
      position: absolute;
      font-family: inherit;
      border-radius: 8px;
      bottom: -53px;
      right: 10px;
      width: 117px;
      height: 61px;
      box-shadow: 2px -1px 10px 2px rgba(0, 0, 0, 0.05);
      overflow: hidden;

      .view-image {
        flex-grow: 1;
        width: 100%;
        outline: none;
        border: none;
        color: #666;
        font-size: 11px;
        background: #fff;
        margin: 0;
        padding: 0;
        cursor: pointer;
        // transition: 0.3s ease;

        // &:hover {
        //   background: darken(#f2f2f2, 3%);
        // }
      }

      .delete {
        flex-grow: 1;
        width: 100%;
        outline: none;
        border: none;
        color: #fff;
        font-size: 11px;
        background: #f0727a;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background: darken(#f0727a, 10%);
        }
      }
    }
  }

  // .modal-overlay {
  //   z-index: 999;
  //   // @include flex;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.3);

  .modal {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 80%;
    // height: 500px;
    border-radius: 14px;
    background: #c9c9c9;
    padding: 30px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
  }
  // }
}

.upload-section {
  flex-direction: column;
  // padding-bottom: 110px;
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;

  .back {
    z-index: 999;
    position: fixed;
    top: 35px;
    left: 50px;
    // right: 50px;
    // left: 50%;
    // transform: translateX(-50%);
    background: #fff;
    font-family: 'apercu-medium', sans-serif;
    font-size: 12px;
    color: #848484;
    border: none;
    outline: none;
    border-radius: 500px;
    width: 160px;
    // width: 90px;
    height: 44px;
    cursor: pointer;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.05);

    span {
      vertical-align: middle;
    }

    svg {
      height: 10.2px;
      width: auto;
      vertical-align: middle;
      margin-right: 7px;
      fill: #848484;
    }
  }

  .drop-zone {
    @include flex;
    font-family: 'apercu-medium', sans-serif;
    // padding-top: 75px;
    width: 100%;
    height: 100%;
    background: #c9c9c9;
    // padding: 20px;
    transition: 0.3s ease;

    .placeholder {
      @include flex;
      flex-direction: column;
      color: #fff;
      transition: 0.3s ease;
    }

    h3 {
      color: #a1a1a1;
      margin: 20px 0;
    }

    svg {
      fill: #cecece;
      width: 70px;
      margin-top: 20px;
      transition: 0.4s ease;
    }

    &.dragover {
      .placeholder {
        transform: scale(1.1);
      }
    }
  }

  .canvas-container {
    @include flex;
    background: #c9c9c9;
    width: 100%;
    height: 100%;
    overflow: scroll;
    // padding-top: 75px;
    padding-bottom: 110px;
    // margin: 40px;

    .canvas-wrapper {
      position: relative;
      // background: #2dcb81;

      canvas {
        display: block;
      }

      .preview-container {
        z-index: 2;
        // visibility: hidden;
        position: absolute;
        width: 110px;
        height: 110px;
        border-radius: 500px;
        padding: 5px;
        background: #fff;
        border: 1px solid #999;
        // box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.2);

        .preview-color {
          width: 100%;
          height: 100%;
          border-radius: 500px;
        }
      }
    }
  }

  // .color-palette {
  //   @include flex;
  //   width: 550px;
  //   margin-top: 20px;

  //   div {
  //     display: inline-block;
  //     width: 14.6%;
  //     padding-top: 14.6%;
  //     background: #eee;
  //     margin-right: 2%;
  //     border-radius: 500px;

  //     &:last-child {
  //       margin-right: 0;
  //     }
  //   }
  // }
}

.preloader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader:not(:required) {
  transform: translate3d(0, 0, 0);
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #f6b441;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
}

.preloader:not(:required):before,
.preloader:not(:required):after {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preloader:not(:required):before {
  animation: preloader 3s infinite;
  transform-origin: 0 50%;
  left: 0;
  background: #a5c9cf;
}

.preloader:not(:required):after {
  animation: preloader 3.2s reverse infinite;
  transform-origin: 100% 50%;
  right: 0;
  background: #ef7e5b;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
