// TODO: put apercu-regular in body and delete duplicates

body {
  font-family: 'apercu-regular', sans-serif;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'apercu-medium';
  src: url('fonts/apercu-medium.woff') format('woff');
}

@font-face {
  font-family: 'apercu-regular';
  src: url('fonts/apercu-regular.woff') format('woff');
}

@mixin flex($x : center, $y: center) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  padding: 0;
}

@mixin desktop {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin grid-break($width, $columns) {
  @media only screen and (min-width: $width) {
    grid-template-columns: repeat($columns, 1fr);
  }
}

.not-found {
  @include flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 120px;
  }

  h2 {
    font-size: 24px;
    color: #999;
    margin-bottom: 6vh;
  }

  .home-btn {
    font-family: 'apercu-medium', sans-serif;
    min-width: 140px;
    min-height: 45px;
    background: #2dcb81;
    margin-bottom: 28px;
    text-decoration: none;
    border-radius: 500px;
    color: #fff;
    font-size: 13px;
    padding: 15px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
}

.home {
  @include flex;
  width: 100%;
  height: 100vh;
  background: #fff;

  .hero-text-container {
    @include flex;
    width: 100%;
    padding: 60px 0;

    @include desktop {
      width: 40%;
      min-width: 460px;
      padding: 0 0 0 80px;
    }

    // TODO: just take out contents out of .content?
    .content {
      padding: 0 50px;

      @include desktop {
        padding: 0;
        min-width: 342px;
      }

      h1 {
        font-family: 'apercu-medium', sans-serif;
        display: inline-block;
        font-size: 38px;
        margin-right: 15px;
      }

      svg {
        margin-bottom: 2px;
      }

      .pitch {
        color: #6c6c6c;
        max-width: 418px;
        line-height: 33px;
        margin-top: 40px;
        margin-bottom: 65px;
      }

      .buttons {
        max-width: 418px;

        button {
          background: #2dcb81;
          font-family: 'apercu-medium', sans-serif;
          font-size: 16px;
          color: #fff;
          border: none;
          outline: none;
          border-radius: 500px;
          width: 100%;
          height: 50px;
          margin: 10px 0;
          cursor: pointer;
          box-shadow: 2px 5px 11px rgba(0, 0, 0, 0.15);

          @include desktop {
            width: 342px;
          }
        }

        .twitter-login {
          background: #22a7e8;
          transition: 0.3s ease;

          &:hover {
            background: darken(#22a7e8, 8%);
            box-shadow: none;
          }
        }

        .google-login {
          background: #f5571f;
          transition: 0.4s ease;

          &:hover {
            background: darken(#f5571f, 8%);
            box-shadow: none;
          }
        }
      }
    }
  }

  .hero-image {
    display: none;
    width: 60%;
    height: 100%;
    background-image: url('assets/hero-image.png');
    background-size: cover;
    background-repeat: no-repeat;

    @include desktop {
      display: block;
    }
  }
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'apercu-regular', sans-serif;
  width: 100%;
}

.header-top {
  @include flex;
  height: 75px;
  padding: 0 32px;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;

  @include desktop {
    @include flex(space-between, center);
  }

  .profile {
    @include flex;
    position: relative;

    .profile-image {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 500px;
      background: #d8d8d8;
      margin-right: 8px;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    button {
      display: inline-block;
      font-family: 'apercu-regular', sans-serif;
      border: 0;
      outline: none;
      padding: 0;
      background: transparent;
      color: #7c7c7c;
      font-size: 16px;
      user-select: none;
      margin-right: 8px;
      cursor: pointer;

      svg {
        width: 9.6px;
        height: auto;
        vertical-align: middle;
        cursor: pointer;
      }
    }

    .profile-dialog {
      @include flex(space-between, center);
      flex-direction: column;
      position: absolute;
      font-family: inherit;
      border-radius: 8px;
      bottom: -74px;
      left: 0;
      width: 137px;
      height: 60px;
      overflow: hidden;
      user-select: none;
      box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.08);

      .palette-count {
        flex-grow: 1;
        @include flex;
        width: 100%;
        height: 30px;
        color: #666;
        font-size: 12px;
        background: #fff;
        pointer-events: none;

        .count {
          @include flex;
          width: 20px;
          height: 20px;
          border-radius: 500px;
          background: #c8c7c7;
          margin-right: 6px;
          font-size: 12px;
          color: #fff;
        }
      }

      .sign-out {
        font-family: inherit;
        width: 100%;
        height: 30px;
        outline: none;
        border: none;
        color: #fff;
        font-size: 12px;
        background: #f0727a;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#f0727a, 10%);
        }
      }
    }
  }

  .add {
    display: none;
    position: relative;
    background: #2dcb81;
    font-family: 'apercu-medium', sans-serif;
    font-size: 13px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 500px;
    width: 150px;
    height: 45px;
    padding: 15px 0;
    cursor: pointer;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);

    @include desktop {
      display: block;
    }
  }
}

.header-logo {
  @include flex;
  width: 100%;
  height: 68px;
  font-family: 'apercu-medium', sans-serif;
  user-select: none;

  h2 {
    display: inline-block;
  }

  span {
    margin: 7px 0 0 15px;
  }
}

.back {
  z-index: 999;
  position: fixed;
  top: 35px;
  left: 50px;
  background: #fff;
  font-family: 'apercu-medium', sans-serif;
  font-size: 12px;
  color: #666;
  border: none;
  outline: none;
  border-radius: 500px;
  width: 164px;
  height: 45px;
  cursor: pointer;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.05);

  span {
    vertical-align: middle;
  }

  svg {
    height: 10.2px;
    width: auto;
    vertical-align: middle;
    margin-right: 7px;
    fill: #666;
  }
}

.new-user {
  z-index: 999;
  @include flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 343px;
  height: 450px;
  border-radius: 12px;
  padding: 40px 40px;
  font-family: 'apercu-medium', sans-serif;

  svg {
    margin-bottom: 47px;
  }

  h3 {
    margin-bottom: 21px;
  }

  h4 {
    text-align: center;
    font-family: 'apercu-regular', sans-serif;
    color: #999;
    line-height: 23px;
    margin-bottom: 30px;
  }

  .dismiss-btn {
    border: none;
    outline: none;
    font-family: inherit;
    width: 83px;
    height: 30px;
    border-radius: 500px;
    border: 1px solid #d7d7d7;
    background: #fff;
    font-size: 13px;
    color: #989898;
    padding: 7px 0;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .lazy-btn {
    border: none;
    outline: none;
    font-family: inherit;
    width: 169px;
    height: 45px;
    border-radius: 500px;
    background: #2dcb81;
    padding: 15px 0;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
  }
}

.empty-library {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
}

.library {
  @include flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 190px 32px 32px 32px;

  @include desktop {
    @supports (display: grid) {
      display: grid;
      justify-items: center;
      @include grid-break(768px, 2);
      @include grid-break(938px, 3);
      @include grid-break(1280px, 4);
      @include grid-break(1620px, 5);
      @include grid-break(2320px, 6);
    }
  }

  .image-view {
    z-index: 999;
    @include flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c9c9c9;

    .image {
      max-width: 90%;
      max-height: 90%;
    }
  }

  .placeholder {
    width: 246px;
    height: 320px;
    border-radius: 12px;
    background: #e0e0e0;
    margin: 32px;
    animation: pulse 0.7s ease infinite alternate;
  }

  @keyframes pulse {
    from {
      background: #e0e0e0;
    }
    to {
      background: #eee;
    }
  }
}

.footer {
  z-index: 1;
  @include flex(space-between, center);
  font-family: 'apercu-medium', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: #fff;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.1);

  .palette-name {
    flex-grow: 1;
    @include flex(flex-start, center);
    padding-left: 50px;
    min-width: 320px;

    svg {
      width: 15px;
      height: 15px;
      fill: #848484;
      outline: none;
      cursor: pointer;
    }

    .palette-input {
      width: 240px;
      font-family: 'apercu-regular', sans-serif;
      font-size: 17px;
      color: #666;
      padding-bottom: 3px;
      margin-left: 10px;
      border: 0;
      outline: none;
    }

    input:focus::placeholder {
      color: #eee;
    }
    input::placeholder {
      color: #666;
    }
  }

  .palette-buttons {
    flex-grow: 1;
    @include flex(flex-end, center);
    padding-right: 50px;
    min-width: 320px;
    font-family: 'apercu-medium', sans-serif;
    font-size: 14px;

    .clear,
    .save {
      display: inline-block;
    }

    .clear {
      color: #848484;
      margin-right: 20px;
      font-family: inherit;
      font-size: inherit;
      padding: 0;
      border: none;
      outline: none;
      background: #fff;
      cursor: pointer;
    }

    .save {
      background: #2dcb81;
      font-family: inherit;
      font-size: inherit;
      color: #fff;
      position: relative;
      border: none;
      outline: none;
      border-radius: 500px;
      width: 152px;
      height: 50px;
      box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      .submit-alert {
        @include flex;
        position: absolute;
        font-size: 14px;
        font-family: 'apercu-regular', sans-serif;
        color: #fff;
        white-space: nowrap;
        top: -124%;
        left: 50%;
        transform: translateX(-50%);
        min-height: 45px;
        max-height: 45px;
        padding: 0 20px;
        background: #393844;
        border-radius: 8px;

        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -6px;
          border-width: 6px;
          border-style: solid;
          border-color: #393844 transparent transparent transparent;
        }
      }
    }
  }

  .palette-colors {
    @include flex(space-between, center);
    width: 360px;
    min-width: 300px;

    .radio {
      box-sizing: content-box;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #e3e1e1;
      border-radius: 500px;
      border: 5px solid #fff;
      cursor: pointer;
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked + .radio {
      border: 5px solid #f0f0f0;
    }
  }
}

.palette-card {
  font-family: 'apercu-regular', sans-serif;
  position: relative;
  width: 246px;
  height: 320px;
  border-radius: 12px;
  margin: 32px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.08);

  .palette-colors {
    @include flex(space-between, center);
    flex-direction: column;
    width: 100%;
    height: 71%;
    transform: translate3d(0, 0, 0);

    .swatch {
      flex-grow: 1;
      @include flex;
      position: relative;
      width: 100%;
      height: 33.3333%;
      color: #fff;
      cursor: pointer;
      outline: none;
      &:first-child {
        border-radius: 12px 12px 0 0;

        .pop-up {
          border-radius: 12px 12px 0 0;
        }
      }

      .pop-up {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 125px;
        transition: transform 0.3s ease;
      }

      input {
        border: 0;
        z-index: 1;
        font-family: 'apercu-medium', sans-serif;
        color: #fff;
        appearance: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease;
        cursor: pointer;

        &::selection {
          background: transparent;
        }
      }

      &:hover {
        input {
          transform: translateY(-4px);
          opacity: 0.8;
        }
        .pop-up {
          transform: translateY(-8px);
        }
      }

      &:first-child:nth-last-child(1) {
        .pop-up {
          transform: translateY(0);
        }
      }
    }
  }

  .palette-footer {
    @include flex;
    position: relative;
    width: 100%;
    height: 29%;
    font-size: 16px;
    color: #666;
    background: #fff;
    border-radius: 0 0 12px 12px;

    .copy-alert {
      z-index: 999;
      @include flex;
      position: absolute;
      pointer-events: none;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 134px;
      height: 28px;
      border-radius: 500px;
      background: #2dcb81;
      font-family: 'apercu-regular', sans-serif;
      font-size: 11px;
      color: #fff;
      box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.05);
    }

    .options {
      position: absolute;
      @include flex;
      bottom: 11px;
      right: 11px;
      width: 32px;
      height: 15px;
      border-radius: 500px;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: #efefef;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: darken(#efefef, 5%);
      }
    }

    .options-dialog {
      @include flex(space-between, center);
      flex-direction: column;
      position: absolute;
      font-family: 'apercu-regular', sans-serif;
      border-radius: 8px;
      bottom: -53px;
      right: 10px;
      width: 117px;
      height: 60px;
      box-shadow: 2px -1px 10px 2px rgba(0, 0, 0, 0.05);
      user-select: none;
      overflow: hidden;

      .image-view-btn {
        width: 100%;
        height: 30px;
        font-family: inherit;
        outline: none;
        border: none;
        color: #666;
        font-size: 12px;
        background: #fff;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }

      .delete-btn {
        font-family: inherit;
        width: 100%;
        height: 30px;
        outline: none;
        border: none;
        color: #fff;
        font-size: 12px;
        background: #f0727a;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background: darken(#f0727a, 10%);
        }
      }
    }
  }

  .modal {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    background: #c9c9c9;
    padding: 30px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
  }
}

.upload-section {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;

  .drop-zone {
    @include flex;
    font-family: 'apercu-medium', sans-serif;
    width: 100%;
    height: 100%;
    background: #c9c9c9;
    transition: 0.3s ease;

    .drop-zone-content {
      width: 100%;
      height: 100%;
      user-select: none;
      transition: 0.3s ease;

      label {
        @include flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background: #c9c9c9;
        font-family: 'apercu-medium', sans-serif;
        font-size: 13px;
        padding: 40px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.3s ease;

        h1 {
          color: #fff;
          text-align: center;
          font-size: 46px;
        }

        h3 {
          color: #a1a1a1;
          margin: 20px 0;
          text-align: center;
          font-size: 22px;
        }

        &.alert {
          background: #dd6068;
        }
      }

      #file-browse {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }

    &.dragover {
      .drop-zone-content {
        transform: scale(1.1);
      }
    }
  }

  .canvas-container {
    @include flex;
    background: #c9c9c9;
    width: 100%;
    height: 100%;
    padding-bottom: 110px;

    .canvas-wrapper {
      position: relative;

      canvas {
        display: block;
        cursor: crosshair;
      }

      .preview-container {
        z-index: 2;
        position: absolute;
        width: 110px;
        height: 110px;
        border-radius: 500px;
        padding: 5px;
        background: #fff;
        border: 1px solid #999;

        .preview-color {
          width: 100%;
          height: 100%;
          border-radius: 500px;
        }
      }
    }
  }
}

.preloader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader:not(:required) {
  transform: translate3d(0, 0, 0);
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #f6b441;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
}

.preloader:not(:required):before,
.preloader:not(:required):after {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preloader:not(:required):before {
  animation: preloader 3s infinite;
  transform-origin: 0 50%;
  left: 0;
  background: #a5c9cf;
}

.preloader:not(:required):after {
  animation: preloader 3.2s reverse infinite;
  transform-origin: 100% 50%;
  right: 0;
  background: #ef7e5b;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// React CSSTransitions for dialog boxes
.dialog-animate-enter {
  opacity: 0.5;
  transform: translateY(-10px);

  &.dialog-animate-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2s ease;
  }
}

.dialog-animate-leave {
  opacity: 1;

  &.dialog-animate-leave-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.2s ease;
  }
}

// React CSSTransitionGroup for logo
.header-logo-enter {
  opacity: 0;
  transform: translateY(-20px);

  &.header-logo-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease;
  }
}

.header-logo-leave {
  opacity: 1;

  &.header-logo-leave-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s ease;
  }
}
