// React CSSTransitions for dialog boxes
.dialog-animate-enter {
  opacity: 0.5;
  transform: translateY(-10px);

  &.dialog-animate-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2s ease;
  }
}

.dialog-animate-leave {
  opacity: 1;

  &.dialog-animate-leave-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.2s ease;
  }
}
